@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* Primary */
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  /* Neutral */
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  /* Fonts Family */
  --Open-Sans: "Open Sans", sans-serif;
  --Poppins: "Poppins", sans-serif;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--Open-Sans);
}

h1,h2,h3 {
    font-family: var(--Poppins);
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

.container-fluid {
    padding: 3rem 3rem;
}

.heading-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Nav */

.logo {
    width: 7rem;
}

.container {
    padding: 1rem 2rem
}

.btn-outline-pink {
    color: var(--Pink);
    border: 1px solid var(--Pink);
    border-radius: 100px;
    padding: .5rem 1.5rem;
}

.btn-outline-pink:hover {
    background-color: var(--Pink);
    border: 1px solid var(--Pink);
    color: #FFF;
}

/* Intro  */

.intro {
    text-align: center;
}

.btn-pink {
    color: #FFF;
    border: 1px solid var(--Pink);
    background-color: var(--Pink);
    border-radius: 100px;
    padding: .5rem 2rem;
}

.btn-pink:hover {
    color: #FFF;
    border: 1px solid var(--Pink);
    background-color: var(--Pink);
    opacity: .7;
}

.intro-btn {
    margin-top: 2rem;
}

/* Community and Message Counts Section  */

.icon {
    width: 2rem;
    /* Base on the design - Can delete this if you're not comfortable in left aligned icon, for me it's much better when it was centered*/
    /* position: relative;
    right: 30%; */
}

.counts {
    text-align: center;
    margin-bottom: 4rem;
}

.counts__num {
    font-size: 4rem;
    font-weight: 700;
}

.counts__text {
    color: grey;
}

/* Features  */

.features {
    text-align: center;
}

.pale-feature {
    background-color: var(--Very-Pale-Blue);
}

.feature-img {
    margin-bottom: 5rem;
}


/* Call to Action  */

.cta {
    text-align: center;
    padding: 10rem 0;
}

/* Newsletter  */

.logo-newsletter{
    width: 13rem;
}

.newsletter {
    background-color: var(--Very-Dark-Cyan);
    color: #FFF;
    display: flex;
    flex-direction: column-reverse;
}

.newsletter__subscription {
    margin-bottom: 5rem;
}

.form-subscription {
    display: flex;
    flex-direction: column;
}

.btn-subscribe {
    align-self: flex-end;
}















.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
